In [1]:
import pandas as pd

In [2]:
df =pd.read_csv('/2022_stats_R.csv')

In [3]:
df

,Unnamed: 0,Date,Team,2022,Last 3,Last 1,Home,Away,2021,2023
0,0,2022-03-31,Houston,4.67,3.67,0.00,5.24,5.44,NaN,5.34
1,1,2022-03-31,Tampa Bay,4.60,5.00,5.00,4.96,5.60,NaN,5.28
2,2,2022-03-31,Toronto,4.92,9.33,12.00,5.52,4.93,NaN,5.22
3,3,2022-03-31,Boston,4.87,1.00,0.00,5.78,4.49,NaN,5.14
4,4,2022-03-31,LA Dodgers,5.77,5.00,2.00,5.06,5.03,NaN,5.05
...,...,...,...,...,...,...,...,...,...,...
5665,5665,2022-10-05,Washington,4.47,1.00,0.00,3.67,3.80,NaN,3.73
5666,5666,2022-10-05,Pittsburgh,3.76,5.67,7.00,3.85,3.43,NaN,3.64
5667,5667,2022-10-05,Miami,3.85,3.00,1.00,3.55,3.58,NaN,3.57
5668,5668,2022-10-05,Oakland,4.59,5.67,2.00,3.14,3.87,NaN,3.51
5669,5669,2022-10-05,Detroit,4.30,5.33,6.00,3.48,3.39,NaN,3.43