In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('results2.csv')

In [3]:
df

,Unnamed: 0,home_team,away_team,home_is_winner,away_win_prob,home_win_prob
0,1013,New York Mets,Miami Marlins,1,0.460387,0.539613
1,1048,Los Angeles Angels,Washington Nationals,0,0.473382,0.526618
2,695,Cleveland Indians,Kansas City Royals,1,0.493273,0.506727
3,736,Minnesota Twins,Los Angeles Dodgers,0,0.493273,0.506727
4,723,Houston Astros,Chicago White Sox,1,0.541773,0.458227
...,...,...,...,...,...,...
257,572,New York Yankees,Baltimore Orioles,1,0.309413,0.690587
258,140,New York Mets,Baltimore Orioles,1,0.557404,0.442595
259,888,Tampa Bay Rays,Detroit Tigers,1,0.320360,0.679640
260,312,Seattle Mariners,Colorado Rockies,0,0.447275,0.552725
261,199,Boston Red Sox,Atlanta Braves,1,0.422875,0.577125

In [5]:
df[30:40]

,Unnamed: 0,home_team,away_team,home_is_winner,away_win_prob,home_win_prob
30,538,Detroit Tigers,Los Angeles Angels,0,0.465913,0.534087
31,427,Baltimore Orioles,Washington Nationals,1,0.349513,0.650487
32,682,Arizona Diamondbacks,Los Angeles Dodgers,0,0.251816,0.748184
33,63,Philadelphia Phillies,San Francisco Giants,0,0.465913,0.534087
34,390,Oakland Athletics,Cleveland Indians,0,0.582147,0.417853
35,1266,Texas Rangers,New York Yankees,0,0.548854,0.451146
36,208,Oakland Athletics,Los Angeles Angels,1,0.458560,0.541440
37,409,Houston Astros,Cleveland Indians,1,0.582147,0.417853
38,76,Cincinnati Reds,Arizona Diamondbacks,0,0.494794,0.505206
39,184,San Francisco Giants,Los Angeles Dodgers,0,0.506436,0.493564