In [8]:
import sqlite3
import pandas as pd

In [9]:
conn = sqlite3.connect('mlb_games.db')

In [10]:
sql_query = '''
SELECT
    games.id AS game_id,
    games.game_date AS game_date,
	games.home_is_winner,
    
    home_team_batting."Tm" AS home_tm,
    home_team_batting."#Bat" AS home_bat,
    home_team_batting."BatAge" AS home_bat_age,
	home_team_batting."R/G" AS home_bat_R_G,
	home_team_batting."G" AS home_bat_G,
	home_team_batting."PA" AS home_bat_PA,
	home_team_batting."AB" AS home_bat_AB,
	home_team_batting."R" AS home_bat_R,
	home_team_batting."H" AS home_bat_H,
	home_team_batting."2B" AS home_bat_2B,
	home_team_batting."3B" AS home_bat_3B,
	home_team_batting."HR" AS home_bat_HR,
	home_team_batting."RBI" AS home_bat_RBI,
	home_team_batting."SB" AS home_bat_SB,
	home_team_batting."CS" AS home_bat_CS,
	home_team_batting."BB" AS home_bat_BB,
	home_team_batting."SO" AS home_bat_SO,
	home_team_batting."BA" AS home_bat_BA,
	home_team_batting."OBP" AS home_bat_OBP,
	home_team_batting."SLG" AS home_bat_SLG,
	home_team_batting."OPS" AS home_bat_OPS,
	home_team_batting."OPS+" AS home_bat_OPS_plus,
	home_team_batting."TB" AS home_bat_TB,
	home_team_batting."GDP" AS home_bat_GDP,
	home_team_batting."HBP" AS home_bat_HBP,
	home_team_batting."SH" AS home_bat_SH,
	home_team_batting."SF" AS home_bat_SF,
	home_team_batting."IBB" AS home_bat_IBB,
	home_team_batting."LOB" AS home_bat_LOB
	
	
	
	
	

FROM games
JOIN team_batting AS home_team_batting ON games.home_team = home_team_batting.Tm AND games.season = home_team_batting.season;

'''

In [11]:
df = pd.read_sql_query(sql_query, conn)

In [12]:
df

Empty DataFrame
Columns: [game_id, game_date, home_is_winner, home_tm, home_bat, home_bat_age, home_bat_R_G, home_bat_G, home_bat_PA, home_bat_AB, home_bat_R, home_bat_H, home_bat_2B, home_bat_3B, home_bat_HR, home_bat_RBI, home_bat_SB, home_bat_CS, home_bat_BB, home_bat_SO, home_bat_BA, home_bat_OBP, home_bat_SLG, home_bat_OPS, home_bat_OPS_plus, home_bat_TB, home_bat_GDP, home_bat_HBP, home_bat_SH, home_bat_SF, home_bat_IBB, home_bat_LOB]
Index: []

[0 rows x 32 columns]