In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import r2_score

In [2]:
df =pd.read_csv('resultodds_new8.csv')

df = df.dropna(subset=['home_is_winner'])
df = df.dropna(subset=['lowvig_home'])
df = df[df['home_is_winner'] != 'Unknown']

In [3]:
df.describe()

,Unnamed: 0,lowvig_home,lowvig_away,betonlineag_home,betonlineag_away,draftkings_home,draftkings_away,fanduel_away,fanduel_home
count,3892.000000,3892.000000,3892.000000,3892.000000,3892.000000,3892.000000,3892.000000,3892.000000,3892.000000
mean,4755.419065,-53.697585,28.070915,-54.420863,27.553186,-63.392343,20.233042,21.737924,-66.608428
std,2520.920656,149.435784,151.149405,150.226951,151.619738,150.447847,152.260486,152.825296,150.867444
min,62.000000,-426.000000,-360.000000,-435.000000,-370.000000,-450.000000,-385.000000,-400.000000,-460.000000
25%,2645.750000,-163.000000,-127.000000,-164.000000,-128.000000,-169.000000,-132.000000,-132.000000,-172.000000
50%,5228.500000,-121.000000,111.000000,-122.000000,111.000000,-125.000000,107.500000,110.000000,-127.000000
75%,6846.500000,117.000000,150.000000,117.000000,150.000000,112.500000,145.000000,144.000000,112.000000
max,8946.000000,319.000000,376.000000,319.000000,376.000000,300.000000,360.000000,360.000000,315.000000

In [13]:
df

,Unnamed: 0,lowvig_home,lowvig_away,betonlineag_home,betonlineag_away,draftkings_home,draftkings_away,fanduel_away,fanduel_home,home_is_winner
0,62,125.0,-135.0,125.0,-135.0,114.0,-132.0,-130.0,114.0,0
1,63,-278.0,245.0,-278.0,245.0,-263.0,215.0,245.0,-294.0,1
2,180,-137.0,127.0,-137.0,127.0,-128.0,114.0,124.0,-143.0,1
3,182,-161.0,149.0,-164.0,149.0,-167.0,148.0,144.0,-175.0,0
4,183,-196.0,179.0,-196.0,179.0,-204.0,175.0,168.0,-200.0,0
...,...,...,...,...,...,...,...,...,...,...
3977,8940,115.0,-125.0,115.0,-125.0,110.0,-130.0,-130.0,110.0,0
3978,8942,-145.0,134.0,-145.0,134.0,-150.0,130.0,126.0,-148.0,1
3979,8943,136.0,-147.0,136.0,-147.0,130.0,-150.0,-154.0,130.0,1
3980,8944,-139.0,129.0,-141.0,129.0,-145.0,125.0,120.0,-142.0,1
3981,8946,-143.0,132.0,-145.0,131.0,-145.0,125.0,128.0,-152.0,1

In [4]:
df.filter(like='_home').describe()

       lowvig_home  betonlineag_home  draftkings_home  fanduel_home
count  3892.000000       3892.000000      3892.000000   3892.000000
mean    -53.697585        -54.420863       -63.392343    -66.608428
std     149.435784        150.226951       150.447847    150.867444
min    -426.000000       -435.000000      -450.000000   -460.000000
25%    -163.000000       -164.000000      -169.000000   -172.000000
50%    -121.000000       -122.000000      -125.000000   -127.000000
75%     117.000000        117.000000       112.500000    112.000000
max     319.000000        319.000000       300.000000    315.000000

In [5]:
df.isnull().sum()

Unnamed: 0          0
lowvig_home         0
lowvig_away         0
betonlineag_home    0
betonlineag_away    0
draftkings_home     0
draftkings_away     0
fanduel_away        0
fanduel_home        0
home_is_winner      0
dtype: int64

In [6]:
df_home=df.filter(like='_home')

In [7]:
df_home.corr()

                  lowvig_home  betonlineag_home  draftkings_home  fanduel_home
lowvig_home          1.000000          0.998748         0.977151      0.973845
betonlineag_home     0.998748          1.000000         0.976597      0.974352
draftkings_home      0.977151          0.976597         1.000000      0.978550
fanduel_home         0.973845          0.974352         0.978550      1.000000

In [8]:
r2 = r2_score(df['lowvig_home'], df['home_is_winner'])

In [9]:
r2

-0.13301863017238014

In [10]:
r2 = r2_score(df['betonlineag_away'], df['home_is_winner'])

In [11]:
r2

-0.030531995596355666

In [12]:
df.columns

Index(['Unnamed: 0', 'lowvig_home', 'lowvig_away', 'betonlineag_home',
       'betonlineag_away', 'draftkings_home', 'draftkings_away',
       'fanduel_away', 'fanduel_home', 'home_is_winner'],
      dtype='object')